@import 'base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.v-tab__slider {
  background: #2bbbde !important;
  height: 4px !important;
}
.v-btn__content {
  margin-bottom: 5px !important;
}

.title {
  font-weight: bold;
  font-size: 20pt;
}

.subsubtitle {
  font-weight: normal;
  font-style: italic;
  font-size: 14pt;
}

.subtitle {
  font-size: 16pt;
  font-weight: bold;
}

.error {
  color: red;
}
